<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/bug.js"></script>
</head>

<body>

    <div id="ng-app" ng-app ng-controller="GetAllBugs">
        <div ng-repeat="bug in bugs">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Method</th>
                </tr>

                <tr>
                    <td>{{bug.Id}} </td>
                    <td>{{bug.Date}}</td>
                    <td>{{bug.Status}}</td>
                    <td>
                        <button ng-click="DeleteBug(1)">Удалить</button> 
                    </td>
                </tr>
            </table>
        </div>
    </div>



</body>
</html>
